<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">

<bean id="source" class="asos.SourceMock"/>
<bean id="consumer" class= "asos.ConsumerMock"/>
<bean id="processor" class="asos.ProcessorMock">
    <constructor-arg ref="source" />
    <property name="messageConsumer" ref="consumer"/>
</bean>

<bean id="aspectClass" class="asos.MyAspectClass"/>

<aop:config>
    <aop:aspect id="randomaspect" ref="aspectClass">
    
<!--        <aop:pointcut id="pointcut1" expression="execution(void *(..))"/>
        <aop:after method="messagePocet" pointcut-ref="pointcut1"/>-->
        
        <aop:pointcut id="pointcutjjj2" expression="execution(* asos.ConsumerMock.putMessage(..)) and args(message)"/>
        <aop:around method="cenzure" pointcut-ref="pointcutjjj2"/>
    </aop:aspect>
</aop:config>
    
</beans>
